@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 10px;
}

h1 {
    font-size: 54px;
    margin-bottom: 5px;
}

p {
    margin: 0;
}

/*------Game page---------------*/

body {
    background-image: url(../images/background1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100vw;
    height: 100vh;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0, auto;
}

#game {
    background-color: #ff9393;
    border: 3px solid black;
    border-radius: 10px;
    max-width: 90vw;
    margin-top: 20px;
}

.game-header-prefix {
    text-align: center;
    font-size: 15px;
    padding: 0;
}

.game-footer-prefix {
    text-align: center;
    font-size: 13px;
    padding: 0;
    margin: 20px 0;
}

.game-header-main-text {
    font-size: 15px;
    text-align: center;
}

.game-footer-main-text {
    text-align: center;
}

.header-item {
    text-align: center;
    font-size: large;
    margin-top: 40px;
}

#question-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
}

#question-container h2 {
    text-align: center;
    font-size: smaller;
}

#question-container h1 {
    font-size: medium;
}

.answers-container {
    min-height: 152px;
}

.final-container,
.answer-container {
    display: flex;
    width: 100%;
    margin: 5px 10px 0px 10px;
}


.answer-prefix {
    font-size: large;
    padding: 20px;
    color: azure;
    background-color: black;
    border-radius: 5px 0 0 5px;
}

.answer-text {
    font-size: small;
    padding: 20px;
    min-width: 130px;
    background-color: #ff9393;
    width: 100%;
    min-height: 76px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
}

.answer-container:active {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(0, 0, 0, 0.6);
    transition: transform 150ms;
    transform: scale(1.03);
}

.final-text {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: azure;
    background-color: black;
    min-height: 76px;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}

#final-text-one {
    color: #c12d9f;
    background-color: #b9fb4f;
}

#final-text-two {
    color: #0a16cc;
    background-color: #f19434;
}

#final-text-three {
    color: #6324f6;
    background-color: #f4d04e;
}

#final-text-four {
    color: #fffb52;
    background-color: #b22bd6;
}

#progressBar {
    width: 100%;
    height: 50px;
    border: 0.2rem solid rgb(0, 0, 0);
    margin-bottom: 1.5rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(0, 0, 0);
    width: 0%;
}

#progress-bar-replay {
    height: 100%;
    background: rgb(0, 0, 0);
    width: 100%;
}

#replay-button-one {
    color: azure;
    width: fit-content;
    background: rgb(0, 0, 0);
    height: auto;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 50px;
    overflow: hidden;
}


#replay-button-two {
    color: azure;
    width: 100%;
    background: rgb(0, 0, 0);
    height: 100%;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 50px;
    overflow: hidden;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

#next-btn {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 576px) {
    #replay-text {
        margin-top: 30px;
        font-size: 250%;
    }

    #game {
        max-width: 75vw;
    }

    #question-container h1 {
        font-size: 45px;
    }

    #question-container h2 {
        font-size: xx-large;
        margin-top: 20px;
    }

    .game-header-prefix,
    .game-header-main-text {
        font-size: 30px;
    }

    .game-footer-prefix {
        font-size: 25px;
    }

    #outside-question-container {
        min-height: 150px;
    }

    .answer-text,
    .answer-prefix {
        font-size: x-large;
        min-height: 90px;
    }

    .final-text {
        font-size: xx-large;
        min-height: 90px;
    }

    .answers-container {
        min-height: 190px;
    }

    .header-item {
        font-size: xx-large;
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {

    #game {
        min-width: 824px;
    }

    #question-container h1 {
        font-size: 54px;
    }
}